# Database
DB_TYPE=string (example: postgres)
DB_USER=string (example: john)
DB_PASSWORD=string (example: qwerty123)
DB_HOST=string (example: localhost)
DB_PORT=string (example: 5432)
DB_NAME=string (exaple: devdb)


