# Environment
IS_DEVELOPMENT=string (must be either "true" or "false")

# Database
DB_TYPE=string (example: postgres)
DB_USER=string (example: john)
DB_PASSWORD=string (example: qwerty123)
DB_HOST=string (example: localhost)
DB_PORT=number (example: 5432)
DB_NAME=string (exaple: devdb)

# Logging
LOG_LEVEL=number (must be between [-1, 5])


# Goose
GOOSE_DRIVER=string (example: postgres)
GOOSE_DBSTRING=string (example: postgres://user:password@host:port/db_name)
GOOSE_MIGRATION_DIR= string (example: ./migrations)
